# EXCEL

In [4]:
import pandas as pd
from xlwings import view

In [5]:
df = pd.DataFrame(data={ 'one': [0, 1, 2, 3, 4],
                  'two': [5, 6, 7, 8, 9]})
df

   one  two
0    0    5
1    1    6
2    2    7
3    3    8
4    4    9

In [6]:
view(df)

In [4]:
from xlwings import load

In [ ]:
import xlwings as xw
import datetime as dt
sheet = xw.Book().sheets[0]
sheet['A1'].value = [[1, 2], [3, 7]]

1.0

In [1]:
from xlwings import Book
wb = Book('Camp.xlsx')
ws = wb.sheets[0]

In [2]:
cell = ws.range('A1')
cell.value = 'Hello, world!'
cell.font.color = '0000FF'
cell.column_width = 20
print(cell.font.color)

(0, 0, 255)

In [3]:
cells = ws.range('C1', ws.range('C1').end('down'))
cells.font.color = 'FF00FF'

rows = ws.cells.last_cell.row
print(rows)

1048576

In [5]:
cells = ws.range('A1').expand()
cells.font.color = 300000

In [7]:
last_row = ws.range(f'E{ws.cells.last_cell.row}').end('up').row
print(last_row, ws.cells.last_cell.row)

4 1048576

In [11]:
A = {"가": 1, "나": 2, "다": 3}
S = input("검색할 문자를 입력하세요: ")
result = A.get(S, "없음")
print(result)

2