#### 사칙연산

In [ ]:
a = 3
b = 2
print(a + b)
print(a - b)
print(a * b)
print(f"{a} 의 {b} 제곱 = {a ** b}")
print(f'{a} / {b} = {a / b}, 몫 = { a // b}, 나머지 = {a % b}')

#### 문자열
> [형식]
>> `"` 큰 따옴표 `"`  
>> `'` 작은 따옴표 `'`  
>> `"""` 큰 따옴표 3개 `"""`  
>> `'''` 작은 따옴표 3개 `'''`  
---
> [Escape Code, 탈출문자]  
>> `\n` : Line Feed (LF), 커서 움짐임 없이 새로운 줄 추가  
>> `\r` : Carriage Return (CR), 커서를 앞으로 옮김 새로운 줄 추가 없음  
>> `\t` : 문자열 사이에 탭 간격 줌  
>> `\\`, `\'`, `\"` : 각각 (`\ ' "`) 문자를 그대로 표현함  
>> `\000` : 널문자  
>> `\a` : 벨소리  
>> `\b` : backspace key

In [ ]:
a = "Hello World, 'Nested String'\nI'm happy!"
print(type(a),a)

b = """
    이스케이프 문자 없이 보여지는 형식
    그대로 표현해주는 따옴표 3개
    형식
 """
print(b)

c = "Added String"
print(a + '\n'+ c) # 문자열 합치기

d = "Hello World\n"
print(d * 5) # 문자를 숫자 만큼 반복

In [ ]:
import sys
print(sys.version)
sys.path

In [ ]:
import pandas as pd


df = pd.DataFrame({
    "Name" :['Kim BJ', 'Lee SY', 'Park JH'],
    "Age" :[ 20, 30, 40],
    "Sex" : ['M', 'F', 'M']
})
df.describe()

In [ ]:
df['Age'].max()

In [ ]:
ages = pd.Series([22, 35, 58], name="Age")
ages.max()

In [ ]:
categories=pd.read_csv('code-categories.csv')
categories

In [ ]:
wb = pd.read_excel('viv.xlsx', index_col=0)
wb

In [ ]:
url = (
    "https://raw.githubusercontent.com/pandas-dev"
    "/pandas/main/pandas/tests/io/data/csv/tips.csv"
)

tips = pd.read_csv(url)
tips.to_excel('tips.xlsx')

In [ ]:
import requests
response = requests.get(url)

if response.status_code == 200:
    with open('tips.csv', 'w') as f:
        f.write(response.text)
else:
    print("Failed to download file")

# df = pd.read_csv('tips.csv')
# print(df.head())
# print(df.describe())
# print(df.info())

In [ ]:
tips_ex = pd.read_excel('tips.xlsx')
tips_ex.head(5)

In [ ]:
tips["total_bill"].plot.hist(bins=20)

In [ ]:
# tips["total_bill"] = tips["total_bill"] - 2
# tips["new_bill"] = tips["total_bill"] / 2
# tips = tips.drop("new_bill", axis=1)
tips

In [ ]:
tips[tips["total_bill"] > 10]

In [ ]:
date = pd.Timestamp("2025-01-17")
print(date.year, date.month, date.day, date.to_period('D'))

In [ ]:
tips[["sex", "total_bill", "tip"]]

In [ ]:
tips = tips.sort_values(["total_bill"], ascending=[False])
tips

In [ ]:
tips["time"].str.rstrip().str.len()

In [ ]:
s ="안녕하세요"
print(s.__len__())

In [ ]:
tips["sex"].str.find("ale")

In [ ]:
import numpy as np

df2 = pd.DataFrame({
    "Key": ["A", "B", "C", "D"],
    "Value" : np.random.randn(4)
})
df3 = pd.DataFrame(
    {
        "Key": ["B", "D", "D", "E"],
        "Value" : np.random.randn(4)
    }
)

inner_join = pd.merge(df2, df3, on="Key", how="inner")
inner_join

In [ ]:
left_join = pd.merge(df2, df3, on="Key", how="left")
left_join

In [ ]:
right_join = pd.merge(df2, df3, on="Key", how="right")
right_join

In [ ]:
outer_join = pd.merge(df2, df3, on="Key", how="outer")
outer_join

In [ ]:
BBB = list(range(0, 8))
print(BBB)

In [ ]:
AAA = [1] * 8
print(AAA)

In [ ]:
df = pd.DataFrame({
    "AAA": AAA,
    "BBB": BBB
})

df

In [ ]:
series = list(range(1, 5))
series

In [ ]:
pd.pivot_table(tips, values="tip", index=["size"], columns=["sex"], aggfunc=np.average)

In [ ]:
df

In [ ]:
df = pd.DataFrame(
    {
        "class": ["A", "A", "A", "B", "C", "D"],
        "student_count": [42, 35, 42, 50, 47, 45],
        "all_pass": ["Yes", "Yes", "Yes", "No", "No", "Yes"],
    }
)

In [ ]:
df

In [ ]:
bin(3)

In [ ]:
bin(-10)

In [ ]:
format(14, "#b"), format(14, "b")

In [ ]:
f'{14:#b}', f'{14: b}'

In [ ]:
chr(65), ord('A')

In [ ]:
x = 1
eval('x + 2')

In [ ]:
enumerate(['a', 'b', 'c'])

In [ ]:
dir([1, 2, 3])

In [ ]:
divmod(10, 3), 7//3, 10 % 3

In [ ]:
for i, name in enumerate(['a', 'b', 'c']):
    print(i, name)

In [ ]:
list(filter(lambda x: x > 0, [1, -2, 3, -4, 5]))

In [ ]:
hex(234), oct(234), bin(234)

In [ ]:
a = 3; b = 2; c = 123
hex(id(a)), hex(id(b)), hex(id(c))

In [ ]:
a = input()
print(a)

In [ ]:
int(3.14), int('1A', 16)

In [ ]:
class Person: pass

a = Person()
isinstance(a, Person)

In [ ]:
a

In [ ]:
len('안녕하세요')

In [ ]:
a = [1, 2, 3]
b =list(a)
b, a is b

In [ ]:
list(map(lambda x: x * 2, [1, 2, 3, 4]))

In [ ]:
max([1, 2, 3, 4]), min([1, 2, 3, 4])

In [ ]:
oct(34)

In [ ]:
f = open('tips.csv', 'r')
print(f.read())
f.flush()
f.close()

In [ ]:
ord('a')

In [ ]:
pow(3, 4)

In [ ]:
list(range(5))

In [ ]:
list(range(5, 10))

In [ ]:
list(range(1, 10, 2))

In [ ]:
list(range(0, -10, -1))

In [ ]:
round(4.6), round(5.678, 2)

In [ ]:
sorted([3, 1, 2]), sorted("zero")

In [ ]:
str(3)

In [ ]:
sum([1, 2, 3, 4])

In [ ]:
tuple("abc"), tuple([1, 2, 3]), tuple((1, 2, 3))

In [ ]:
list(zip([1, 2, 3], [4, 5, 6]))

In [ ]:
import datetime
day1 = datetime.date(2021, 12, 14)
day2 = datetime.date(2025, 2, 13)
diff = day2 - day1
diff.days, day1.weekday(), day1.isoweekday()

In [ ]:
import time
time.time(), time.localtime().tm_year

In [ ]:
time.ctime()

In [ ]:
time.asctime().split()

In [ ]:
time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time()))

In [ ]:
import time

for i in range(10):
    print(i)
    time.sleep(1)

In [ ]:
time.localtime()

In [ ]:
import math
math.gcd(21, 14), math.gcd(60, 100, 80)

# 최대 공약수 사용처 
어린이집에서 사탕 60개, 초콜릿 100개, 젤리 80개를 준비했다. 
아이들이 서로 싸우지 않도록 똑같이 나누어 봉지에 담는다고 하면 최대 몇 봉지 까지 만들 수 있을 까?
단, 사탕, 초콜릿, 젤리는 남기지 않고 모두 담도록 한다.
60/20, 100/20, 80/20

# 최소 공배수
어느 버스 정류장에 시내버스는 15분 마다 도착하고 마을 버스는 25분 마다 도착한다고 한다.
오후 1시에 두 버스가 동시에 도착했다고 할 때 두 버스가 동시에 도착할 다음 시각은 언제인가?

In [ ]:
math.lcm(15, 25)

In [ ]:
import random
random.random(), random.randint(100, 199),random.choice([1, 2, 3, 4])

# if __name__ == "__main__": 

개체를 구분할 수 있는 범위

In [ ]:
locals()

In [ ]:
import random

def random_pop(data):
    number = random.randint(0, len(data) - 1)
    return data.pop(number)

if __name__ == "__main__":
    data = [1, 2, 3, 4, 5]
    while data:
        print(random_pop(data))

In [ ]:
import random

data = [1, 2, 3, 4, 5]
random.sample(data, len(data)), random.shuffle(data), data

In [ ]:
import itertools
mylist = list(itertools.permutations([1, 2, 3], 2))

for a, b in mylist:
    print(a + b)

In [ ]:
list(itertools.combinations([1, 2, 3], 2))

In [ ]:
# 로또 번호 조합

it = list(itertools.combinations(range(1, 46), 6))

len(it)

# 8145060
# 1000원 전부 쓰면 1000 * 8145060 = 8,145,060,000 (81억 4천 5백 6십만원)

In [ ]:
import functools
data = [1, 2, 3, 4, 5]
result = functools.reduce(lambda x, y: x + y, data)
print(result)

# ((((1+2)+3)+4)+5)

In [ ]:
# 최대값, 최소값 구하기
num_list = [3, 2, 8, 1, 6, 7]

max_num = functools.reduce(lambda x, y: x if x > y else y, num_list)
min_num = functools.reduce(lambda x, y: x if x < y else y, num_list)
print(max_num, min_num)

In [ ]:
from operator import itemgetter

students = [
    ("jane", 22, "A"),
    ("dave", 32, "C"),
    ("sally", 17, "B"),
]

result = sorted(students, key=itemgetter(1))
print(result)

In [131]:
students = [
    {"name": "jane", "age": 22, "grade": "A"},
    {"name": "dave", "age": 32, "grade": "C"},
    {"name": "sally", "age": 17, "grade": "B"},
]

result = sorted(students, key=itemgetter("age"))

print(result)

[{'name': 'sally', 'age': 17, 'grade': 'B'}, {'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'C'}]